DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SECRET_KEY=aimall-dev-secret-key
DB_ENGINE=sqlite3
# 切换 MySQL 时开启以下配置
# DB_ENGINE=mysql
# DB_NAME=aimall
# DB_USER=root
# DB_PASSWORD=123456
# DB_HOST=127.0.0.1
# DB_PORT=3306
